<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta %} {% endblock %}

    {% stylesheets
    '@ClientWebsiteBundle/Resources/public/default/css/vendor.css'
    '@ClientWebsiteBundle/Resources/public/default/css/app.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Vagrant-Sulu</a>
            </div>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Language <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for locale, url in urls %}
                            <li>
                                <a href="{{ sulu_content_path((url?:'/'),request.webspaceKey,locale) }}">{{ locale }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>

            <form class="navbar-form navbar-right" action="{{ path('sulu_search.website_search') }}" method="GET">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputAmount">Search</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="exampleInputAmount" placeholder="Search">
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                              </span>
                    </div>
                </div>
            </form>
        </div><!-- /.navbar-collapse -->
    </nav>

    {% include 'ClientWebsiteBundle:views:navigation.html.twig' %}
    <!-- /header -->

    <!-- content -->
    {% block content %}{% endblock %}
    <!-- /content -->

    <!-- footer -->
    <div class="footer container">
        <div class="row">
            <div class="col-lg-4">&copy; SULU CMF 2014</div>
            <div class="col-lg-4">Access to the demo <a href="/admin" target="_blank">admin</a></div>
            <div class="col-lg-4">Credentials: demo / demo</div>
        </div>
    </div>
    <!-- /footer -->

    {% javascripts
    '@ClientWebsiteBundle/Resources/public/default/js/vendor.js'
    '@ClientWebsiteBundle/Resources/public/default/js/app.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
</body>
</html>
