{% extends "ClientWebsiteBundle:views:master.html.twig" %}

{% block meta %}{% include "ClientWebsiteBundle:blocks:meta.html.twig" %}{% endblock %}

{% block content %}
    <div class="template-default">
        <div class="template-default__header jumbotron"
             {% if content.headerimage[0].thumbnails['1200x675'] %}
                style="background-image:url('{{ content.headerimage[0].thumbnails['1200x675'] }}')"
             {% endif %}>
            <div class="container">
                <h1 property="title">{{ content.title }}</h1>
            </div>
        </div>
        <div class="container">
            {% autoescape false %}
                <div property="article">{{ content.article }}</div>
            {% endautoescape %}


            <div class="row" vocab="http://schema.org/" typeof="Content">
                <div class="col-lg-12">

                    {{ dump(extension.excerpt.categories) }}

                    {% if extension.excerpt.categories is defined %}
                        <h3>Categories</h3>

                        <ul property="categories">
                            {% for category in extension.excerpt.categories %}
                                <li>{{ category.id }} - {{ category.name }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <h3>Images</h3>

                    <div class="row {{ view.images.displayOption|default('') }}" property="images" typeof="collection">
                        {% for image in content.images %}
                            <div class="col-lg-4" rel="images" typeof="images">
                                <img src="{{ image.thumbnails['170x170'] }}" alt="{{ image.name }}"/>

                                <p class="text-primary">{{ image.title }}</p>
                            </div>
                        {% endfor %}
                    </div>

                    <h3>Internal Links</h3>

                    {% if content.links is defined %}
                        <ul property="links">
                            {% for link in content.links %}
                                <li>
                                    <a href="{% if link.url is defined %}{{ sulu_content_path(link.url, link.webspaceKey) }}{% else %}#{% endif %}">{{ link.title|default('No Title') }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
