{% extends "ClientWebsiteBundle:views:master.html.twig" %}

{% block meta %}{% include "ClientWebsiteBundle:blocks:meta.html.twig" %}{% endblock %}

{% block content %}
    <div id="content" vocab="http://schema.org/" typeof="Content">

        <div class="template-events__header jumbotron"
                {% if content.headerimage[0].thumbnails['1200x675'] %}
            style="background-image:url('{{ content.headerimage[0].thumbnails['1200x675'] }}')"
                {% endif %}>
            <div class="template-events__header__title-wrap">
                <h1 class="container template-events__header__title" property="title">{{ content.title }}</h1>
            </div>
        </div>

        <div class="container">

            <div property="smartcontent" class="template-events__events">
                {% for page in content.smartcontent %}
                    <a class="template-events__event"
                       href="{{ sulu_content_path(page.url) }}">
                        <div class="template-events__event__image"
                            {% if page.headerimage[0].thumbnails['1200x675'] %}
                                style="background-image:url('{{ page.headerimage[0].thumbnails['1200x675'] }}')"
                            {% endif %}></div>
                        <h2 class="template-events__event__title" property="title">{{ page.title }}</h2>
                    </a>
                {% endfor %}
            </div>

            <ul class="pagination">
                {% set page = view.smartcontent.page %}

                {% if page-1 >= 1 %}
                    <li><a href="{{ sulu_content_path(content.url) }}?p={{ page-1 }}">&laquo;</a></li>
                {% endif %}
                {% if view.smartcontent.hasNextPage %}
                    <li><a href="{{ sulu_content_path(content.url) }}?p={{ page+1 }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
